.bewakoof-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.bewakoof-navbar-logo img {
  height: 30px;
}
.bewakoof-navbar-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.bewakoof-navbar-search input {
  padding: 15px;
  outline: none;
}
.bewakoof-navbar-search img {
  height: 20px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .bewakoof-navbar {
    width: 100%;
    display: flex;
    margin-bottom: 2px;
  }
  .bewakoof-navbar-logo img {
    height: 50px;
    width: 50%;
  }
  .bewakoof-navbar-search {
    width: 50%;
    gap: 5px;
    padding: 20px 0px 20px 20px;
  }
  .bewakoof-navbar-search input {
    font-size: 8px;
    width: 100%;
    padding: 3px;
  }
  .bewakoof-navbar-search img {
    height: 15px;
  }
}
