.products-heading {
  display: flex;
  align-items: center;
  gap: 20px;
}
.products-title {
  font-size: 30px;
  color: hsl(0, 0%, 20%);
}
.products-counts {
  color: hsl(0, 0%, 60%);
}
.products-banner {
  margin-bottom: 30px;
}
.products-banner img {
  width: 100%;
}
.products-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 640px) {
  .products-heading {
    gap: 10px;
  }
  .products-banner {
    margin-bottom: 10px;
  }
  .products-title {
    font-size: 15px;
  }
  .products-counts {
    font-size: 8px;
  }
}
